#bannerImage {
  background-image: url("../images/carlos-torres-lH5RmE-TEHc-unsplash.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  margin-top: 50px;
  position: relative;
}
header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
}
nav {
  font-family: "open Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  gap: 90px;
}
nav > a {
  color: black;
}
#heroText {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 5rem;
  text-align: center;
  background-color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 35px;
}
.middleSection {
  text-align: center;
}
.middleSection > h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
}
.middleSection,
p {
  font-family: "open Sans", sans-serif;
  font-size: 20px;
}
.productImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 490px;
  justify-content: center;
}

.products > img {
  height: 200px;
  width: 350px;
}
.products > p {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
}
.ourTeamBanner {
  background-image: url("../images/pexels-ella-ragasa-20711293.jpg");
  padding-top: 100px;
  padding-bottom: 50px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teamMember > img {
  height: 300px;
  margin: 0px 15px 0px 15px;
}
.teamMember > p {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: "open Sans", sans-serif;
}
.teamMember > h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: "open Sans", sans-serif;
}

.teamTitle > h2 {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
}
footer {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Audiowide", sans-serif;
}
footer > h4 {
  font-size: 30px;
}
footer > span {
  font-size: 20px;
}
